{{#> layout title="Welcome to AirUAE"}}
  <h1>Welcome to AirUAE!</h1>
  <p>Hello {{user.firstName}},</p>
  <p>Thank you for joining AirUAE. We're excited to have you as part of our community!</p>
  
  <p>With AirUAE, you can:</p>
  <ul>
    <li>Book short-term rentals for your vacations or business trips</li>
    <li>Find long-term rental properties for more permanent stays</li>
    <li>List your properties and earn income</li>
    <li>Manage your properties and bookings with ease</li>
  </ul>
  
  <p>Ready to get started?</p>
  
  <p style="text-align: center; margin: 30px 0;">
    <a href="{{appUrl}}" class="button">Explore Properties</a>
  </p>
  
  <p>If you have any questions or need assistance, don't hesitate to reach out to our support team.</p>
  
  <p>Best regards,<br>The AirUAE Team</p>
{{/layout}}
